.light_theme{
    background-color: white;

    .color_theme_switcher__button_dark{
        opacity: 0.5;
    }
}

.dark_theme{
    background-color: #1e1b30;

    .color_theme_switcher__button_light{
        opacity: 0.5;
    }

    .footer__content{
        color: #fff;
    }
}

.color_theme_switcher__indication {
    width: 38px;
    height: 20px;
    border-radius: 100px;
    background: #1E1B30;
    position: relative;
    transition: .2s;
    margin-left: 10px;
    margin-right: 10px;
    transition: background-color 0.2s;
}

.color_theme_switcher__indication_ico {
    position: absolute;
    width: 16px;
    height: 16px;
    left: 2px;
    top: 2px;
    background: #0056d0;
    border-radius: 50%;
    transition: transform .2s;
    
}

.color_theme_switcher__indication_ico:before {
    position: absolute;
    content: '';
    width: 100%;
    height: 100%;
    background-repeat: no-repeat;
    background-position: center;
    background-size: 10px;
    background-image: url(data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMTAiIGhlaWdodD0iMTAiIHZpZXdCb3g9IjAgMCAxMCAxMCIgZmlsbD0ibm9uZSIgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIj4KPHBhdGggZD0iTTUgMTBDNy43NjE1IDEwIDEwIDcuNzYxNSAxMCA1QzEwIDQuNzY4NSA5LjY1MyA0LjczIDkuNTMzNSA0LjkyODVDOS4yNzg2MiA1LjM1MDY3IDguOTMxMDIgNS43MDkzIDguNTE3MDEgNS45NzcyM0M4LjEwMyA2LjI0NTE2IDcuNjMzNDUgNi40MTUzNyA3LjE0MzkyIDYuNDc0OTVDNi42NTQzOSA2LjUzNDUzIDYuMTU3NzIgNi40ODE5NCA1LjY5MTUyIDYuMzIxMTRDNS4yMjUzMyA2LjE2MDM0IDQuODAxODUgNS44OTU1NiA0LjQ1MzE0IDUuNTQ2ODZDNC4xMDQ0NCA1LjE5ODE1IDMuODM5NjYgNC43NzQ2NyAzLjY3ODg2IDQuMzA4NDhDMy41MTgwNiAzLjg0MjI4IDMuNDY1NDYgMy4zNDU2MSAzLjUyNTA1IDIuODU2MDhDMy41ODQ2MyAyLjM2NjU1IDMuNzU0ODMgMS44OTcgNC4wMjI3NyAxLjQ4Mjk5QzQuMjkwNyAxLjA2ODk4IDQuNjQ5MzMgMC43MjEzNzcgNS4wNzE1IDAuNDY2NUM1LjI3IDAuMzQ2NSA1LjIzMTUgMCA1IDBDMi4yMzg1IDAgMCAyLjIzODUgMCA1QzAgNy43NjE1IDIuMjM4NSAxMCA1IDEwWiIgZmlsbD0id2hpdGUiLz4KPC9zdmc+Cg==);
}

.color_theme_switcher {
    cursor: pointer;
    display: flex;
    align-items: center;
    margin-right: 30px;
}

body.light_theme .color_theme_switcher__indication_ico {
    transform: translateX(0);
}

body.dark_theme .color_theme_switcher__indication_ico {
    transform: translateX(18px);
}