// background-color: #1e1b30; //

.light{
    background-color: white;
}

.dark{
    background-color: #1e1b30;
}

.color-theme__indication {
    width: 38px;
    height: 20px;
    border-radius: 100px;
    background: #1E1B30;
    position: relative;
    transition: .2s;
}