nav{
    height: 50px;
    width: 100%;
    background-color: blueviolet;
  }
  
  .header_nav__container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100%;
  }
  
  .header_shopping_cart__header_user__container ul{
    list-style: none;
    display: flex;
    margin: 0;
    padding: 0;
    width: 200px;
    justify-content: space-around;

        img {
            width: 38px;
        }
  }

