nav{
    height: 50px;
    width: 100%;
    background-color: blueviolet;
  }
  
  .header_nav__container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100%;

        a{
            margin-left: 30px;
            font-weight: 900;
            color: aliceblue;
            font-size: xx-large;
        }
  }
  
  .header_user__container ul{
    list-style: none;
    display: flex;
    margin: 0;
    padding: 0;
    width: 320px;
    justify-content: space-around;

        img {
            width: 38px;
        }
  }


  .header_shopping_cart__header_user__container li:last-child{
    display: flex;
    align-items: center;
    width: 124px;
    justify-content: space-around;
  }
