.filter-container {
    position: relative;
    display: inline-block;
    margin-top: 10px;
    margin-left: 10px;
  }
  
  .dropdown-button {
    background-color: #4CAF50;
    color: white;
    padding: 10px 20px;
    border: none;
    cursor: pointer;
    border-radius: 5px;
    font-size: 16px;
    transition: background-color 0.3s ease;
  }
  
  .dropdown-button:hover {
    background-color: #45a049;
  }
  
  .dropdown-menu {
    margin-top: 5px;
    position: absolute;
    background-color: white;
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
    border-radius: 5px;
    padding: 10px;
    z-index: 1;
    display: flex;
    flex-direction: column;
    width: 100%;
  }
  
  .dropdown-item {
    padding: 10px;
    display: flex;
    align-items: center;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
  
  .dropdown-item:hover {
    background-color: #f1f1f1;
  }
  
  .filter-icon {
    width: 60px;
    height: 60px;
    margin-right: 10px;
  }
  
  .dropdown-item span {
    font-size: 14px;
  }
  